.about-container {
    width: 100%;
    min-height: 80vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section {
    width: 50%;
    max-width: 95%;
    padding: 1rem 2rem;
    background: var(--white-color);
    border-radius: 0 0 18px 18px;
    box-shadow: var(--boxShadow-strong);
    border: 2px solid var(--border-color);
    position: relative;
}

.aboutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 1.5rem 2rem;
    background-color: var(--first-color);
    border-radius: 12px 12px 0 0;
    box-shadow: var(--boxShadow-strong);
}

.section {
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .about-section,
    .aboutHeader {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {

    .about-section,
    .aboutHeader {
        width: 90%;
    }

}