.foodList-conatiner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    margin-top: 40px;
}

.foodList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 65%;
    padding: 10px;
}

.foodListTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--first-color);
    box-shadow: var(--boxShadow);
    color: var(--white-color);
}

.food img {
    width: 150px;
    height: 130px;
    background-color: var(--container-color);
    border-radius: 10px;
    object-fit: cover;
}

.food h4 {
    color: var(--white-color);
}

.addFoodItem-btn {
    padding: 0.5rem 2rem;
    background-color: var(--first-color);
    margin: 10px;
    color: var(--white-color);
    border-radius: 3px;
}

.addFoodItem-btn:hover {
    background-color: var(--first-color-hover);
}


@media screen and (max-width: 1024px) {
    .foodList {
        width: 80%;
    }

    .addFoodItem,
    .foodItemHeader {
        width: 75%;
    }

}

@media screen and (max-width: 600px) {
    .foodList {
        width: 95%;
    }

    .addFoodItem,
    .foodItemHeader {
        width: 90%;
    }


}