.activeOrders {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card-container {
    display: flex;
    gap: 1rem;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: 2px solid var(--accent-color);
    box-shadow: var(--boxShadow);
    background-color: var(--border-color);
    flex-basis: 550px;
}

.foodImg {
    max-width: 200px;
    object-fit: contain;
    background-color: var(--white-color);
    border-radius: 20px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.foodInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foodInfo h5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ordersBtn {
    width: 100%;
    background-color: var(--first-color);
    border-radius: 5px;
    color: var(--white-color);
}

span {
    color: var(--text-color);
}