.btn-continer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.btn-login {
    padding: 0.6rem 2rem;
    font: var(--p);
    border: none;
    color: var(--white-color);
    border-radius: 50px;
    background-color: var(--first-color);
    transition: 0.5s;
}

.btn-login:hover {
    background-color: var(--first-color-hover);
    color: var(--white-color);
}

.signUp-Container,
.login-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.signupForm,
.loginForm {
    text-align: center;
    width: 420px;
    max-width: 95%;
    margin: 4rem auto;
    padding: 2.5rem 2.5rem 2rem;
    background: var(--white-color);
    border-radius: 18px;
    box-shadow: var(--boxShadow-strong);
    border: 2px solid var(--border-color);
    position: relative;
}

.authTitle {
    position: absolute;
    top: -20px;
    right: 32%;
    padding: 0.2rem 1rem;
    text-align: center;
    color: var(--white-color);
    border-radius: 10px;
    background-color: var(--first-color);
}

.signupForm label,
.loginForm label {
    font: var(--h4);
    margin-bottom: .4rem;
    display: block;
    text-align: left;
    width: 100%;
}

.signUpInput,
.loginInput,
.role {
    width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    background: var(--container-color);
    transition: .2s;
}


#keq {
    color: red;
}

.signUpInput:focus,
.role:focus,
.loginInput:focus {
    outline: none;
    border-color: var(--first-color);
    background: var(--white-color);
    box-shadow: var(--boxShadow);
}

.signupForm p,
.loginForm p {
    align-self: center;
}

.formToggle {
    font: var(--h4);
    color: var(--text-color);
}

@media screen and (max-width: 1024px) {
    .signupForm {
        width: 70%;
    }

    .loginForm {
        width: 70%;
    }

}

@media screen and (max-width: 600px) {
    .signupForm {
        width: 90%;
    }


    .loginForm {
        width: 90%;
    }
}